@charset "utf-8";

body {
	font-family: 'Meiryo UI', sans-serif;
	margin: 0;
	background: #101010;
	color: #eee;
}

#wrap {
	margin: 5px 10px;
}

#bg_wrap {
	position: relative;
}

#bg {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}
#bgVideo {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%, -50%);
}
#bgVideo::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
}

#bg_wrap .contents {
	position: absolute;
	top: 0;
	width: 100%;
}

h1, h2 {
	padding-left: 10px;
}

